* {
  background-color: slategray;
  color: azure;
}

h1,
p {
  font-family: "Orbitron", sans-serif;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin-left: 8px;
  margin-right: 8px;
}

#footer {
  margin-top: 10%;
  font-family: "Orbitron", sans-serif;
}
